@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.main_header {
  position: relative;
  background: #E7F1FA;
  height: 94px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 3000;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.1);
}
.main_header .logo img {
  width: 150px;
}
@media screen and (max-width: 570px) {
  .main_header .logo {
    display: none;
  }
  .main_header ul {
    width: auto;
    margin: 0 auto;
  }
}
.main_header ul {
  position: relative;
  display: flex;
}
.main_header ul li {
  position: relative;
  list-style: none;
  margin-right: 50px;
}
.main_header ul li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: #000000;
  text-decoration: none;
}
.main_header ul li a:hover {
  color: darkorange;
}

.main_header.sticky {
  position: fixed;
}

@media screen and (max-width: 570px) {
  header {
    margin: 30px auto;
    padding: 0;
  }
  header ul li {
    margin-right: 15px;
  }
  header ul li a {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 770px) {
  .logo {
    margin-right: 40px;
  }
}
.participation {
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
}
.participation__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  min-height: 100vh;
}
@media screen and (max-width: 950px) {
  .participation__content {
    flex-direction: column;
  }
}
.participation__content__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  height: 80vh;
  width: 20vw;
  background-color: #E7F1FA;
}
@media screen and (max-width: 1000px) {
  .participation__content__banner {
    width: 25vw;
  }
}
@media screen and (max-width: 950px) {
  .participation__content__banner {
    width: 80vw;
    height: 30vh;
  }
}
@media screen and (max-width: 768px) {
  .participation__content__banner {
    width: 90vw;
  }
}
@media screen and (max-width: 580px) {
  .participation__content__banner {
    width: 100vw;
  }
}
.participation__content__banner h1 {
  font-size: 24px;
  font-weight: 900;
  color: #333;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .participation__content__banner h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 950px) {
  .participation__content__banner h1 {
    font-size: 24px;
  }
}
.participation__content__banner p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.participation__content__form {
  margin: 0;
  width: 60vw;
  height: 80vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}
@media screen and (max-width: 950px) {
  .participation__content__form {
    width: 80vw;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .participation__content__form {
    width: 90vw;
  }
}
@media screen and (max-width: 580px) {
  .participation__content__form {
    width: 100vw;
  }
}
.participation__content__form__div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  width: 100%;
  height: 100%;
  border: none;
  background: #E7F1FA;
}
@media screen and (max-width: 1000px) {
  .participation__content__form__div {
    padding: 4rem 1rem;
    height: auto;
    min-height: 60vh;
    gap: 8vh;
  }
}
@media screen and (max-width: 450px) {
  .participation__content__form__div {
    padding: 4rem 0.5rem;
    gap: 6vh;
  }
}
.participation__content__form__div .participation__content__form__div__header {
  text-align: center;
}
.participation__content__form__div .participation__content__form__div__header h2 {
  font-size: 24px;
  font-weight: 900;
  width: 70%;
  margin: 0 auto 10px;
}
@media screen and (max-width: 450px) {
  .participation__content__form__div .participation__content__form__div__header h2 {
    width: 90%;
  }
}
.participation__content__form__div .participation__content__form__div__header p {
  width: 70%;
  margin: 0 auto;
  opacity: 0.6;
}
@media screen and (max-width: 450px) {
  .participation__content__form__div .participation__content__form__div__header p {
    width: 90%;
  }
}
.participation__content__form__div section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 80%;
}
@media screen and (max-width: 450px) {
  .participation__content__form__div section {
    width: 90%;
    gap: 15px;
  }
}
.participation__content__form__div section div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.participation__content__form__div section div.civil {
  flex-direction: row;
  gap: 15px;
}
.participation__content__form__div section div.civil input {
  width: 100%;
}
.participation__content__form__div section div label {
  font-weight: 700;
}
.participation__content__form__div section div input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  margin: 10px 0;
}
.participation__content__form__div section div input:focus {
  outline: none;
}
.participation__content__form__div button {
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #5C9FDE;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.participation__content__form__div button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.participation__content__form__products section .textarea {
  gap: 10px;
}
.participation__content__form__products section .textarea textarea {
  resize: none;
  width: 100%;
  height: 20vh;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
.participation__content__form__products section .textarea textarea:focus {
  outline: none;
}
.participation__content__form__details {
  padding: 2rem;
}
@media screen and (max-width: 1000px) {
  .participation__content__form__details {
    padding: 2rem 1rem;
  }
}
.participation__content__form__details section {
  gap: 10px;
}
.participation__content__form__details section div {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 850px) {
  .participation__content__form__details section div.dropbox {
    flex-direction: column;
  }
}
.participation__content__form__details section div div {
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}
.participation__content__form__details section div div select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  margin: 10px 0;
}
.participation__content__form__details section div div select:focus {
  outline: none;
}
.participation__content__form__details section div .file-drop-zone {
  border: 2px dashed #ccc; /* Bordure pointillée grise */
  padding: 20px 30px;
  min-height: 125px; /* Espacement interne */
  text-align: center; /* Centrer le contenu */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .participation__content__form__details section div .file-drop-zone {
    width: 100%;
  }
}
.participation__content__form__details section div .file-drop-zone:hover {
  border-color: #5C9FDE;
  cursor: pointer; /* Bordure bleue lors du survol */
}
.participation__content__form__details section div .file-drop-zone .file-message {
  font-size: 12px; /* Taille de police */
  color: #999; /* Couleur du texte */
}
.participation__content__form__details section div .file-drop-zone .file-name {
  font-size: 16px; /* Taille de police */
  color: #5C9FDE; /* Couleur du texte */
}
.participation__content__form__details section div .file-drop-zone i {
  font-size: 20px;
  margin: 10px auto 0;
}
.participation__content__form__details section div .file-drop-zone:hover i, .participation__content__form__details section div .file-drop-zone:hover h3 {
  color: #5C9FDE; /* Couleur du texte lors du survol */
}
.participation__content__form__details section div .file-drop-zone.filled {
  border-color: #5C9FDE;
}
.participation__content__form__details section div .file-drop-zone.filled h3 {
  font-size: 12px;
  color: #999;
}
.participation__content__form__details section div .file-drop-zone.filled i {
  display: none;
}
.participation__content__form__details section div input[type=file] {
  display: none; /* Masquer l'élément de type "file" par défaut */
}
.participation__content__results {
  background-color: #E7F1FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 60vw;
  padding: 4rem 8rem;
  gap: 50px;
}
.participation__content__results h2 {
  font-size: 28px;
  font-weight: 900;
  color: #333;
  text-align: center;
}
.participation__content__results p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.participation__content__results a {
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  background-color: #5C9FDE;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 50px 0 0;
}

.home {
  height: 60vh;
  background: rgba(63, 57, 57, 0.7) url("../../images/plessis.png") no-repeat center center/cover;
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -30;
}
.home h1 {
  text-align: center;
  font-family: "Trirong";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 111px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 300;
}
.btn a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 174.52%;
  gap: 30px;
  /* identical to box height, or 70px */
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.2s;
  /* Noir Gris */
  color: #202020;
}
.btn a:hover {
  opacity: 0.95;
}
.btn a:nth-child(1) {
  background: #C7E4FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 93px;
}
.btn a:nth-child(2) {
  background: #DBF0CB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 93px;
}

.main {
  margin: 90px 45px;
}
.main .mainBloc1, .main .mainBloc2, .main .mainBloc3 {
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.main .mainBloc1:nth-child(1) .mainTxt, .main .mainBloc2:nth-child(1) .mainTxt, .main .mainBloc3:nth-child(1) .mainTxt {
  background: #F3B2CD;
}
.main .mainBloc1:nth-child(2) .mainTxt, .main .mainBloc2:nth-child(2) .mainTxt, .main .mainBloc3:nth-child(2) .mainTxt {
  background: #C7E4FF;
}
.main .mainBloc1:nth-child(3) .mainTxt, .main .mainBloc2:nth-child(3) .mainTxt, .main .mainBloc3:nth-child(3) .mainTxt {
  background: #DBF0CB;
}
.main .mainBloc1 .mainTxt, .main .mainBloc2 .mainTxt, .main .mainBloc3 .mainTxt {
  border-radius: 50px;
  width: 50%;
  padding: 50px 36px 65px 50px;
}
.main .mainBloc1 .mainTxt h3, .main .mainBloc2 .mainTxt h3, .main .mainBloc3 .mainTxt h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 25px;
  color: #000000;
}
.main .mainBloc1 .mainTxt p, .main .mainBloc2 .mainTxt p, .main .mainBloc3 .mainTxt p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

footer {
  display: flex;
  flex-direction: column;
  background: #09549B;
  font-family: "Plus Jakarta Sans", sans-serif;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3vw;
  padding: 72px 8vw;
  color: #e2e0e5;
}
footer .footer .h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
footer .footer .brand .h5 {
  display: flex;
  text-transform: uppercase;
  gap: 16px;
}
footer .footer > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
footer .footer .brand {
  max-width: 200px;
  gap: 24px;
  line-height: 1.5;
}
footer .newsletter {
  position: relative;
}
footer .newsletter input {
  font-size: 16px;
  font-weight: 400;
  height: 53px;
  padding: 6px 6px 6px 16px;
  background: transparent;
  border: 1px solid #e2e0e5;
  color: #e2e0e5;
  outline: none;
  border-radius: 14px;
  font-size: 16px;
  width: 370px;
}
footer .newsletter button {
  position: absolute;
  padding: 16px 40px;
  height: 53px;
  border-radius: 10px;
  border: none;
  background-color: #f2c855;
  font-size: 16px;
  font-weight: 500;
  color: #3a0ca3;
  right: 6px;
  top: 6px;
  transition: all 0.5s;
}
footer .newsletter button:hover {
  cursor: pointer;
  border-radius: 70px 10px 70px 10px;
  box-shadow: -10px 0px #e2e0e5;
}
footer .social {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
footer .social .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.21);
  border-radius: 20% 20% 20% 20%;
}
footer .social a {
  transition: all 0.3s ease;
}
footer .social a:hover {
  box-shadow: 0px 0px 20px 1px #726193;
  transform: scale(1.1);
}
footer p, footer a {
  font-size: 16px;
  font-weight: 400;
}
footer a {
  color: #e2e0e5;
  text-decoration: none;
}
footer footer a {
  position: relative;
}
footer footer a:not(.social-icon)::before {
  background-color: #e2e0e5;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
footer footer a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 32px 8vw;
  background-color: #f2c855;
}
footer .copyright a {
  color: #0a001a;
  margin: 0 1vw 0 1vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
footer .copyright a:last-child {
  margin-right: 0;
}
footer .copyright a::before {
  background-color: #0a001a !important;
}
@media (max-width: 960px) {
  footer .footer {
    gap: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  footer .footer .brand {
    max-width: 400px !important;
  }
  footer .footer {
    padding: 72px 8vw;
  }
}
@media (max-width: 360px) {
  footer p, footer a {
    font-size: 14px;
  }
  footer .footer .h5 {
    font-size: 16px;
  }
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Poppins", sans-serif;
}

.main-content {
  display: flex;
}

.sidenav {
  min-width: 260px;
  text-align: left;
  top: 0;
  left: 0;
  background-color: #E7F1FA;
  font-size: 16px;
}
.sidenav div {
  margin: 0 0 0 20%;
}
.sidenav p {
  margin: 0 0 0 1rem;
}
.sidenav h4 {
  margin: 1.5rem 0 0.2rem 0;
}

.sorting {
  margin-left: 0 !important;
  display: flex;
  white-space: nowrap;
}

.searchbar {
  border: 1px solid #000;
  display: flex;
  border-radius: 20px;
  width: 95%;
  height: 40px;
  margin: 2rem auto 2rem auto;
  align-items: center;
  justify-content: center;
}
.searchbar input {
  background-color: transparent;
  border: 0;
  font-size: 20px;
}
.searchbar form {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.products {
  margin: 0 auto 0 auto;
  width: 70vw;
}

.products-content {
  gap: 15px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  place-items: center;
}
.products-content a {
  text-decoration: none;
  color: black;
}
.products-content img {
  width: 240px;
  height: 260px;
  border-radius: 25px;
  object-fit: cover;
}
.products-content div {
  display: flex;
  justify-content: center;
  width: 280px;
  background-color: #E7F1FA;
  padding: 20px;
  border-radius: 25px;
}

.page_buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0 20px 0;
}
.page_buttons input {
  background-color: #E7F1FA;
  border-radius: 2px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .nav {
  background: rgba(92, 159, 222, 0.15);
  text-decoration: none;
  padding: 20px;
  font-size: 30px;
}

.product-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.product-page .product-image {
  width: 580px;
  height: 674px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px #565656);
}
.product-page .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 100px;
}
.product-page .product-details {
  flex: 1;
  margin-left: 100px;
}
.product-page .product-details .product-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 55px;
}
.product-page .product-details p {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}
.product-page .product-details .product-info {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-page .product-details .product-info li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.product-page .product-details .product-info li span {
  font-weight: 400;
  margin-right: 10px;
}
.product-page .product-details .product-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 613px;
  height: 83px;
  background: #5C9FDE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}
.product-page .product-details .product-button p {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin: 0 80px 10px 0;
}
.product-page .product-details .product-description {
  width: 640px;
  margin-top: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
