@use '../utils/mixins';
.participation {
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vw;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100vw;
        min-height: 100vh;

        @include mixins.Breakpoint(950px) {
            flex-direction: column;
        }

        &__banner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 20px;
            height: 80vh;
            width: 20vw;
            background-color: #E7F1FA;

            @include mixins.Breakpoint(1000px) {
                width: 25vw;
            }

            @include mixins.Breakpoint(950px) {
                width: 80vw;
                height: 30vh;
            }

            @include mixins.Breakpoint(768px) {
                width: 90vw;
            }

            @include mixins.Breakpoint(580px) {
                width: 100vw;
            }

            h1 {
                font-size: 24px;
                font-weight: 900;
                color: #333;
                text-align: center;

                @include mixins.Breakpoint(1000px) {
                    font-size: 20px;
                }

                @include mixins.Breakpoint(950px) {
                    font-size: 24px;
                }
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: #333;
                text-align: center;
            }
        }

        &__form {
            margin: 0;
            width: 60vw;
            height: 80vh;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 50px;
            flex-wrap: wrap;

            @include mixins.Breakpoint(950px) {
                width: 80vw;
                height: auto;
            }

            @include mixins.Breakpoint(768px) {
                width: 90vw;
            }

            @include mixins.Breakpoint(580px) {
                width: 100vw;
            }

            &__div {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 4rem;
                width: 100%;
                height: 100%;
                border: none;
                background: #E7F1FA;

                @include mixins.Breakpoint(1000px) {
                    padding: 4rem 1rem;
                    height: auto;
                    min-height: 60vh;
                    gap: 8vh;
                }

                @include mixins.Breakpoint(450px) {
                    padding: 4rem .5rem;
                    gap: 6vh;
                }

                .participation__content__form__div__header {
                    text-align: center;

                    h2 {
                        font-size: 24px;
                        font-weight: 900;
                        width: 70%;
                        margin: 0 auto 10px;

                        @include mixins.Breakpoint(450px) {
                            width: 90%;
                        }
                    }

                    p {
                        width: 70%;
                        margin: 0 auto;
                        opacity: .6;
                        @include mixins.Breakpoint(450px) {
                            width: 90%;
                        }
                    }
                }

                section {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 20px;
                    width: 80%;

                    @include mixins.Breakpoint(450px) {
                        width: 90%;
                        gap: 15px;
                    }

                    div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        &.civil {
                            flex-direction: row;
                            gap: 15px;

                            input {
                                width: 100%;
                            }
                        }

                        label {
                            font-weight: 700;;
                        }
    
                        input {
                            width: 100%;
                            height: 40px;
                            border-radius: 5px;
                            border: none;
                            padding: 0 10px;
                            margin: 10px 0;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                }
                button {
                    width: 80%;
                    padding: 1rem;
                    border-radius: 5px;
                    border: none;
                    background-color: #5C9FDE;
                    color: #fff;
                    font-weight: 700;
                    cursor: pointer;

                    &:disabled {
                        background-color: #ccc;
                        cursor: not-allowed;
                    }
                }
            }

            &__products section .textarea {
                gap: 10px;

                textarea {
                    resize: none;
                    width: 100%;
                    height: 20vh;
                    border-radius: 5px;
                    border: none;
                    padding: 10px;

                    &:focus {
                        outline: none;
                    }
                }
            }

            &__details {
                padding: 2rem;

                @include mixins.Breakpoint(1000px) {
                    padding: 2rem 1rem;
                }

                section {
                    gap: 10px;

                    div {
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 20px;

                        &.dropbox {
                            @include mixins.Breakpoint(850px) {
                                flex-direction: column;
                            }
                        }

                        div {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 0px;

                            select {
                                width: 100%;
                                height: 40px;
                                border-radius: 5px;
                                border: none;
                                padding: 0 10px;
                                margin: 10px 0;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }

                        .file-drop-zone {
                            border: 2px dashed #ccc; /* Bordure pointillée grise */
                            padding: 20px 30px;
                            min-height: 125px; /* Espacement interne */
                            text-align: center; /* Centrer le contenu */
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;

                            @include mixins.Breakpoint(850px) {
                                width: 100%;
                            }

                            &:hover {
                                border-color: #5C9FDE;
                                cursor: pointer; /* Bordure bleue lors du survol */
                            }
                            
                            .file-message {
                                font-size: 12px; /* Taille de police */
                                color: #999; /* Couleur du texte */
                            }

                            .file-name {
                                font-size: 16px; /* Taille de police */
                                color: #5C9FDE; /* Couleur du texte */
                            }
    
                            i {
                                font-size: 20px;
                                margin: 10px auto 0;
                            }
                            
                            &:hover {
                                i, h3 {
                                    color: #5C9FDE; /* Couleur du texte lors du survol */
                                }
                            }
                            
                            &.filled {
                                border-color: #5C9FDE;
                                h3 {
                                    font-size: 12px;
                                    color: #999;
                                }
                                i {
                                    display: none;
                                }
                            }

                        }

                        input[type="file"] {
                            display: none; /* Masquer l'élément de type "file" par défaut */
                        }
                    }
                }
            }
        }

        &__results {
            background-color: #E7F1FA;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
            width: 60vw;
            padding: 4rem 8rem;
            gap: 50px;

            h2 {
                font-size: 28px;
                font-weight: 900;
                color: #333;
                text-align: center;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: #333;
                text-align: center;
            }

            a {
                width: 100%;
                padding: 1rem;
                text-decoration: none;
                background-color: #5C9FDE;
                border-radius: 5px;
                color: #fff;
                font-weight: 700;
                font-size: 20px;
                text-align: center;
                margin: 50px 0 0;

            }
        }
    }
}
