*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

header .nav{
    background: rgba(92, 159, 222, 0.15);
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
}

.product-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    // padding: 20px;
    gap: 5rem;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
    .product-image {
      width: 580px;
      height: 674px;
      border-radius: 20px;
    //   margin-top: 30px;
      
      filter: drop-shadow(0px 4px 4px #565656);
      
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-left: 100px;
        }
    }
    
    .product-details {
      flex: 1;
      margin-left: 100px;
      
      .product-title {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 55px;
      }
      
      p{
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
      }
      
      .product-info {
        list-style: none;
        margin: 0;
        padding: 0;
        // margin-bottom: 4em;
        
        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          
          span {
            font-weight: 400;
            margin-right: 10px;
          }
        }


      }

      .product-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        // padding: 20px 40px;
        // gap: 10px;
        width: 613px;
        height: 83px;
        background: #5C9FDE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        cursor: pointer;

        p{
            display: flex;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            color: #FFFFFF;
            margin: 0 80px 10px 0;

        }
      }
      
      .product-description {
        width: 640px;
        margin-top: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        // line-height: 150%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    }



      // Responsive styles
//   @media screen and (max-width: 768px) {
//     flex-direction: column;
    
//     .product-image {
//       width: 70%;
//       height: auto;
//       margin-left: 50px;
//     }

//     .product-title{
//         text-align: center;
//     }

//     li {
//          justify-content: center;
          
//     }

//     p{
//         text-align: center;
//     }


//     .product-button {
//         width: 700px;
//         max-width: 300px;
//         height: 70px;
//         margin-left: 140px;

//         p{
//             font-size: 20px;       
//             line-height: 20px;
//         }
//     }

//   }
}
  


.footer{
    background: rgba(92, 159, 222, 0.15);
    padding: 70px 0;
    margin-top: 5em;
}

.container{
    max-width: 1170px;
    margin:auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;

    .logo img{
        width: 148px;
        height: 95px;
        margin: 50px  10px 50px 10px;
    }
    

    h4{
        font-size: 18px;
        font-weight: 700;
        line-height: 19px;
        color: black;
        /* text-transform: capitalize; */
        margin-bottom: 35px;
        position: relative;
    }
    h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: rgb(100, 100, 100);
        height: 2px;
        /* box-sizing: border-box; */
        width: 50px;
    }

    ul li:not(:last-child){
        margin-bottom: 10px;
    }

    ul li {
        font-size: 16px;
        text-transform: capitalize;
        color: black;
        font-weight: 400;
        text-decoration: none;
        display: block;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    ul li:hover{
        color: #5b5b5bbf;
        padding-left: 8px;
    }

    ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: black;
        font-weight: bold;
        text-decoration: none;
        display: block;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    ul li a:hover{
        color: #5b5b5bbf;
        padding-left: 8px;
    }
 }
//  @media(max-width: 767px){
//     .footer-col{
//       width: 50%;
//       margin-bottom: 30px;
//   }
//   }
//   @media(max-width: 574px){
//     .footer-col{
//       width: 100%;
//   }
//   }



  